header form {
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
}
header input {
  padding: 10px 20px;
  width: calc(100% - 80px);
}
header button {
  padding: 10px 0;
  font-size: 1.375rem;
  border-left : 1px solid #ddd;
  background: #eee;
}